[Desktop Entry]
Encoding=UTF-8
Exec=/home/wongkt2/dev/twpic_ui.py
Icon=/usr/share/icons/hicolor/scalable/apps/twpic.svg
Type=Application
Terminal=false
MultipleArgs=false
Name=twPypic
GenericName=twpic test
StartupNotify=false
Categories=GNOME;AudioVideo;Video;Recorder;
Keywords=photo
